
.test{
	-fx-background-color: #FFFFFF;
}

.collor{
	-fx-color: #3667AB;
	-fx-color: #F14B17;
	-fx-color: #FFFFFF;
}

.button-big {
  -fx--webkit-border-radius: 5;
  -fx--moz-border-radius: 5;
  -fx-border-radius: 5px;
  -fx-font-family: Arial;
  -fx-color: #3667AB;
  -fx-font-size: 25px;
  -fx-background: #3498db;
  -fx-padding: 10px 20px 10px 20px;
  -fx-text-decoration: none;
  -fx-min-width: 275px;
}

.button-big:hover {
  -fx-background-color: #3cb0fd;
  -fx-text-decoration: none;
}

.button-small{
  -fx--webkit-border-radius: 5;
  -fx--moz-border-radius: 5;
  -fx-border-radius: 5px;
  -fx-font-family: Arial;
  -fx-color: #3667AB;
  -fx-font-size: 15px;
  -fx-background: #3498db;
  -fx-padding: 5px 10px 5px 10px;
  -fx-text-decoration: none;
  -fx-min-width: 150px;
}

.button-ball{
  -fx--webkit-border-radius: 5;
  -fx--moz-border-radius: 5;
  -fx-border-radius: 5px;
  -fx-font-family: Arial;
  -fx-color: #3667AB;
  -fx-font-size: 30px;
  -fx-background: #3498db;
  -fx-padding: 5px 10px 5px 10px;
  -fx-text-decoration: none;
  -fx-min-width: 50px;
  -fx-min-height: 50px;
}


.button-small:hover {
  -fx-background-color: #3cb0fd;
  -fx-text-decoration: none;
}

.button-ball:hover {
  -fx-background-color: #3cb0fd;
  -fx-text-decoration: none;
}

.table-view{
   -fx-background-color: #2c83ab;
   -fx-border: 0px;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: #3667AB;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #2c83ab;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #3667AB;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #003597;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
